.about_wrapper {
  /*webkit makes transition smooth*/
    margin-top:5%;
    padding-left: 0;
    padding-top:2%;
    background: url('about_wallpaper.jpg');
}

.about_info_container {
    margin: 0 auto 0 auto;
    height: 1000px;
    width: 600px;
    background-color: rgba(229,234,241,0.6);

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


#wrapper {
	/*webkit makes transition smooth*/
	margin-top:10px;
    padding-left: 0;
    padding-top:10px;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background : url("wood_wallpaper.jpg");
}

#wrapper.toggled {
    padding-left: 250px;
}

* {
    font-family: 'Raleway';
 }
div{
	display: block;
}

#partyform label {
	font-weight:100;
	font-size : 1em;
}


.party_name{
	height: 25px;
}
.help-block{
	font-size : 1em;
}

.party_panel_body{
	min-height: 300px !important;
	
}

.welcome_message{
	/*padding-top: 35px;*/
	padding-left: 20px;
	padding-bottom: 6px;
	color : #F0FFF0;
	text-shadow: 1px 1px 1px #000000;
}

.newsfeed_panel {
	min-height:350px;
	
}

.food_panel{
	min-height: 350px;
	
}
.invitation_panel{
	
	min-height:350px;
	
}


#friends_in_party_panel{
	padding-top:30px;
	min-height:380px;

}

#all_food_panel{
	min-height : 400px;	
}

#accept_button{
	position: relative;
	bottom: 5px;
	left:3px;
}

#decline_button{
	position: relative;
	bottom: 5px;
	left:3px;
	border-radius: 1px;
}

ul.pagination li:first-child, ul.pagination li:last-child{display: none;}	

.hidden {
  display: none !important;
  visibility: hidden;
}

.pac-container {
    background-color: #FFF;
    z-index: 9999;
    position: fixed;
    display: inline-block;
    float: left;
}

#youmad{
	width: 90%;
	height: 400px;
	margin-left: 1.5%;
}




/*custom navbar*/
@media (min-width: 768px){
	#main-navbar{
	    overflow: visible!important;
	}
}

#main-navbar {
    border: none;
    border-radius: 0;
    left: 0;
    min-height: 46px;
    right: 0;
    position: fixed!important;
    top: 0!important;
    z-index: 1030;
}

#main-navbar #menu-toggle {
	background-color: #ffd384!important;
    height: 46px;
    left: 0;
    overflow: hidden;
    width: 56px;
    z-index: 1034;

    border: none;
    display: block;
    font-size: 11px;
    margin: 0;
    outline: 0!important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0!important;
}

#menu-toggle:hover{
	background-color: #ffd12a;
}

#main-navbar .navbar-inner {
    min-height: 46px;
    width: 100%;
    position: relative;
    left: 0;
}

#main-navbar .navbar-brand {
    display: inline-block;
    float: none;
    line-height: 46px;
    height: auto!important;
    padding: 0 0 0 0px;
}


#main-navbar li a {
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0; 
    min-height: 46px;
}


@media (min-width: 768px){
	#main-navbar .navbar-header {
	    padding-left: 65px!important;
	    width: 140px;
	}
}
#main-navbar .navbar-header {
    padding-left: 65px;
}

.logout_button{
	margin-bottom: 0 !important;
	line-height : 2.205 !important;
	margin-right: 0px !important;
	color: white;
}
.logout_button a {
	color: white;
}
.logout_button a:hover{
	color : #e59400;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    color: white;
}