.navbar-orange {
    background-color: #eb6111;
    border-color: #eb6111;
    border : 0;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
 }
/* title */
.navbar-orange .navbar-brand {
    color: #ffd384;
    font-family: 'Indie Flower';
    font-size: 2em;
    background-color: #eb6111;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
    color: #e59400;
}
/* link */
.navbar-orange .navbar-nav > li > a {
    color: #FFE4B5;
}
.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
    color: #583900;
;
}
.navbar-orange .navbar-nav > .active > a, 
.navbar-orange .navbar-nav > .active > a:hover, 
.navbar-orange .navbar-nav > .active > a:focus {
    color: #ffae19;
    background-color: #eb6111;
}
.navbar-orange .navbar-nav > .open > a, 
.navbar-orange .navbar-nav > .open > a:hover, 
.navbar-orange .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-orange .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-orange .navbar-nav > .dropdown > a:hover .caret,
.navbar-orange .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-orange .navbar-nav > .open > a .caret, 
.navbar-orange .navbar-nav > .open > a:hover .caret, 
.navbar-orange .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-orange .navbar-toggle {
    border-color: #DDD;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-orange .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}