<div id = "facebook_invite">
	
	Friend's not on the list? <a href="#" onclick="FBInvite()">Invite them to sign up on facebook!</a>
	<script>


		function FBInvite(){
			FB.init({
				appId:'1554249104883767',
				cookie:true,
				status:true,
				xfbml:true
			});
			FB.ui({
				method: 'apprequests',
				message: 'Invite your Facebook Friends'
			},function(response) {
				if (response) {
				alert('Successfully Invited');
				} else {
				alert('Failed To Invite');
				}
			});
		}
	</script>
</div>