<div id = "facebook_invite">
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<a href="#" onclick="FBInvite()">Invite Facebook Friends</a>
	<script>
		FB.init({
			appId:'1554249104883767',
			cookie:true,
			status:true,
			xfbml:true
		});

		function FBInvite(){
			FB.ui({
				method: 'apprequests',
				message: 'Invite your Facebook Friends'
			},function(response) {
				if (response) {
				alert('Successfully Invited');
				} else {
				alert('Failed To Invite');
				}
			});
		}
	</script>
</div>