{% extends 'foll/base.html' %}
{% load crispy_forms_tags %}

{% block content2 %}
	<h2 style = "margin-top: 100px; padding-top: 100px;"> {{my_info}} </h2>
	{% for friend in my_friends %}
	<h2 style = "margin-top: 100px; padding-top: 100px;"> {{friend}} </h2>
	{% endfor %}
{% endblock %}





{% block content %}
<head>
	
    {{ party_form.media }}
</head>

<div id="wrapper">
        <!-- Sidebar -->
       {% include 'foll/sidebar.html' %}

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

            	<div class= "row welcome_message">
      				<h1> <strong> Welcome {{my_first_name}}! </strong></h1>
            	</div>




            	<div class = "row">
            		<div class = "col-md-12">
    			        <div class="panel panel-default panel-table party_panel_body">

					 		<div class="panel-heading">
					  			<h3 class="panel-title">All Parties</h3>

					  		</div>


					  		<div class="panel-body party_panel_body">
								<div class="container col-md-12 col-lg-12 col-sm-12 ">
						 			<table class="table table-hover">
						   				<thead>
						     				<tr>
						        				<th>Party</th>
						        				<th>Time</th>
						        				<th>Location</th>
						     				</tr>
						   				</thead>


						  				<tbody>
						    				{% for party in party_info %}
						     				<tr>
						       					<td><a href="{% url 'party_details' party.id %}"> {{party.name}} </a> </td>
						       					<td>{{party.time}}</td>
						     					<td>{{party.location}}</td>
						     				</tr>
											{% endfor %}
						    			</tbody>
						  			</table>
								</div>
							</div> 

							 <div class="panel-footer clearfix">
							 	<div class =  "btn-group pull-right">
						 			<button type="button" class="btn btn-sm" data-toggle="modal" data-target="#partyform_modal">
						 			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						 			Add Party
						 			</button>
				 					{% include 'foll/partyform.html' %}	
							 	</div>
							 </div>

						</div>	
            		</div>
            	</div>



            	<div class = "row">
            		<div class = "col-md-6">
            			<div class="panel panel-default invitation_panel">
                    	 	<div class="panel-heading">
                    	 	<div class= "row">
                    	 		<div class = "col-xs-10"><h3 class="panel-title">Your Invitations </h3> </div>
							   <div class="col-xs-2"><span class="badge pull-right">{{invitation_num}}</span> </div>

							</div>
							</div>


		           			 <div  class="panel-body">
		           			 {% include 'foll/process_invitation.html' %}

							</div>
						</div>
    				</div>


    				<div class = "col-md-6">
    						<div class = "panel panel-default">
	                    		<div class="panel-heading">
		                    		<div class = "row">
										<div class = "col-xs-10"><h3 class="panel-title"> Food to bring </h3></div>
										<div class = "col-xs-2"><span class="badge pull-right">{{food_to_bring_num}}</span></div>
									</div>
								</div>
							

						  		<div class="panel-body party_panel_body">
									<div class="container col-md-12 col-lg-12 col-sm-12 ">
									{% if food_to_bring_num == 0 %}
							  				<p>No food to bring.</p>
							  		{% else %}
							 			<table class="table table-hover">
							 			
							   				<thead>
							     				<tr>
							        				<th>Name</th>
							        				<th>Party</th>
							     				</tr>
							   				</thead>

							  				<tbody>


							    				{% for food in food_to_bring %}
							     				<tr>
							       					<td> {{food.name}} </td>
							       					<td>{{food.belong_to_party}}</td>
							     				</tr>
												{% endfor %}
												
							    			</tbody>
							  			</table>
							  		{% endif %}
									</div>
								</div> 
							</div>
    				</div>

            	</div>



            	<div class = "row">
            		<div class = "col-md-12">
            				<div class = "panel panel-default newsfeed_panel">
	                    		<div class="panel-heading">
		                    		<div class = "row">
									   	<div class="col-xs-10"> <h3 class="panel-title">Your Newsfeed</h3> </div>
									    <div class="col-xs-2"><span class="badge pull-right">{{food_newsfeed_num|add:members_newsfeed_num}}</span> </div>
									</div>
								</div>
								<div class="panel-body">
									<div class="text-center", style = "padding-top: 2px;">
									  <ul class="pagination">
									    <li>
									      <a href="#" aria-label="Previous">
									        <span aria-hidden="true">&laquo;</span>
									      </a>
									    </li>
									    <li><a id = "food_newsfeed_button"> Food </a></li>
									    <li><a id = "members_newsfeed_button"> Members</a></li>
									    <li>
									      <a href="#" aria-label="Next">
									        <span aria-hidden="true">&raquo;</span>
									      </a>
									    </li>
									  </ul>
									</div>
									<div id = "food_newsfeed">
										{% if food_newsfeed_num == 0 %}
											<p> No new food. </p>
										{% else %}
										<p> <strong> New Food </strong> </p>
										{% for food_news in food_newsfeed %}
											<p> {{food_news.brought_by_user_data}} brought {{food_news.name}} to the party <a href="{% url 'party_details' food_news.belong_to_party.id %}">{{food_news.belong_to_party}}</a> </p>
										{% endfor %}
										{% endif %}

									</div>
									<div id = "members_newsfeed" class = "hidden">
										{% if friends_in_party_newsfeed_num == 0 %}
											<p> No new members. </p>
										{% else %}
										<p> <strong> New Friends </strong> </p>
										{% for friends_in_party_news in friends_in_party_newsfeed %}
											<p> {{friends_in_party_news.user_data}} joined the party <a href="{% url 'party_details' friends_in_party_news.party.id %}">{{friends_in_party_news.party}}</a> on  {{friends_in_party_news.date_accepted}} </p>
										{% endfor %}
										{% endif %}

									</div>
								</div>
							</div>
            		</div>
            	</div>



            </div>
        </div>
</div>

<!-- Menu toggle script -->
<script>
// $(document).ready(function() {


// 	$("#members_newsfeed").show();

// 	$("#food_newsfeed").hide();


// 	$(".newsfeed_panel").on("click", "#food_newsfeed_button", function() {
// 		$("#members_newsfeed").hide();
// 		$("#food_newsfeed").show();

// 	});

// 	$(".newsfeed_panel").on("click", "#members_newsfeed_button", function() {
// 		$("#members_newsfeed").show();
// 		$("#food_newsfeed").hide();
// 	});
//});
	
$(document).ready(function() {

	var members_newsfeed = $("#members_newsfeed");
	var food_newsfeed = $("#food_newsfeed");

	$("#menu-toggle").click( function (e){
		    e.preventDefault();
		    $("#wrapper").toggleClass("toggled");
	});


	$("#food_newsfeed_button").click( function(e){
		members_newsfeed.addClass("hidden");
		food_newsfeed.removeClass("hidden");

	});

	$("#members_newsfeed_button").click( function(e){
		members_newsfeed.removeClass("hidden");
		food_newsfeed.addClass("hidden");

	});

});
</script>

{% endblock %}

