
{% load crispy_forms_tags %}
<!-- Modal -->




  <div class="modal fade in" id="partyform_modal" role="partyform">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a Party</h4>
        </div>
        <div class="modal-body">
          {% crispy party_form party_form.helper %}

        <script type="text/javascript">

          $(document).ready(function(){
            $( "#partyform" ).submit(function( event ){
              var party_name = $("#party_name").val();
              var party_location = $("#party_location").val();
              var party_date_time = $("#party_date_time").val();
              var div_id_max_size  = $("#div_id_max_size").val();
              var div_id_max_budget = $('#div_id_max_budget').val();
              var error_message = '';
                if (party_name == ''){
                  error_message +=  "Party name is a required field.\n" ;
                  event.preventDefault();
                }
                if (party_location == ''){
                  error_message += "Party venue is a required field.\n" ;
                  event.preventDefault();
                }
                if (party_date_time == ''){
                  error_message += "Party date/time is a required field.\n" ;
                  event.preventDefault();
                }
                if (div_id_max_size == ''){
                  error_message +=  "Party size is a required field.\n" ;
                  event.preventDefault();
                }
                if (div_id_max_budget == ''){
                  error_message += "Party budget is a required field.\n" ;
                  event.preventDefault();
                }
                if (error_message != ''){
                  alert(error_message);
                }

              });
            });
        </script>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


 
