 <div id="sidebar-wrapper">

  <ul class="sidebar-nav">
		<li class = "sidebar-brand"><a href="#">Dashboard</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
        <hr>

        <li><a href="#">
	       	 Newsfeed
	         <span class="badge" style = "margin-top: -8px; margin-left: 15px; padding-left: 0px !important">{{food_newsfeed_num|add:members_newsfeed_num}}</span>
	        </a>
        </li>

         <li><a href="#">
	       	 Your Inivitation
	         <span class="badge" style = "margin-top: -8px; margin-left: 15px; padding-left: 0px !important">{{invitation_num}}</span>
	        </a>
        </li>

         <li><a href="#">
	       	 Parties Joined
	         <span class="badge" style = "margin-top: -8px; margin-left: 15px; padding-left: 0px !important">{{food_newsfeed_num|add:members_newsfeed_num}}</span>
	        </a>
        </li>

         <li><a href="#">
	       	 Food to bring
	         <span class="badge" style = "margin-top: -8px; margin-left: 15px; padding-left: 0px !important">{{food_newsfeed_num|add:members_newsfeed_num}}</span>
	        </a>
        </li>
        
    </ul>
</div>

